@charset "ISO-8859-1";

.colorText{
	color: green;
}

.headerTable{
	text-align: center;
	background: none repeat scroll 0 0 #5E5E5E;
	border-bottom: 1px solid #BBBBBB;
	padding: 16px;
}

.rowTable{
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFF;
	border-top: 1px solid #BBBBBB;
}

.rowTableLine{
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFF;
	border-top: 1px solid #BBBBBB;
}

.form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  width: 90%;
  height: 30px;
  margin: 0.5rem;
}

.form button {
  padding: 0.5em 1em;
  border: none;
  background: rgb(100, 200, 255);
  cursor: pointer;
}